#BlockId #Blockname #typeId #typename #TextureId : overall-up down left right front back
0	"air"	0	"void"	0	-1	-1	-1	-1	-1	-1
1	"dirt"	1	"construct"	1	0	0	0	0	0	0
2	"grass"	1	"construct"	5	7	1	0	0	0	0
3	"cobberStone"	1	"construct"	9	0	0	0	0	0	0
4	"sand"	1	"construct"	6	0	0	0	0	0	0
5	"stone"	1	"construct"	2	0	0	0	0	0	0
6	"goldOre"	1	"construct"	8	0	0	0	0	0	0
7	"stone2"	1	"construct"	3	0	0	0	0	0	0
8	"stone3"	1	"construct"	4	0	0	0	0	0	0


